apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: salesx-media-pvc
  labels:
    app: salesx
    component: backend
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 5Gi
