apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: salesx-redis
spec:
  replicas: 1
  template:
    metadata:
      labels:
        environment: production
    spec:
      containers:
      - name: redis
        command:
          - redis-server
          - --appendonly
          - "yes"
          - --maxmemory
          - "512mb"
          - --maxmemory-policy
          - "allkeys-lru"
        resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "1536Mi"
            cpu: "700m"
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: gp3
      resources:
        requests:
          storage: 20Gi
