apiVersion: apps/v1
kind: Deployment
metadata:
  name: salesx-frontend
spec:
  replicas: 1
  template:
    metadata:
      labels:
        environment: production
    spec:
      containers:
      - name: frontend
        env:
        - name: NODE_ENV
          value: "production"
        resources:
          requests:
            memory: "192Mi"
            cpu: "150m"
          limits:
            memory: "384Mi"
            cpu: "300m"
