apiVersion: v1
kind: Service
metadata:
  name: salesx-backend
  labels:
    app: salesx
    component: backend
    tier: api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: salesx
    component: backend
    tier: api
